[[source]]
name = "pypi"
url = "https://pypi.org/simple/"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
ansible = "*"
awscli = "*"
molecule = {version = "<=2.22", extras = ["ec2", "vagrant"]}
testinfra = "*"

[dev-packages]
black = "==19.*,>=19.10.0.b0"
flake8 = "==3.*,>=3.8.3"
flake8-black = "==0.*,>=0.2.0"

[pipenv]
allow_prereleases = true
