#!/usr/bin/env bash
#      ______ ______  ________  ____    __
#     / __  // __  / / __  /\ \/ /\ \  / /
#    / /_/ // /_/ / / / / /  \  /  \ \/ /
#   / ____//   __/ / / / /   /  \   \  /
#  / /    / /\ \  / /_/ /   / /\ \  / /
# /_/    /_/  \_\/_____/   /_/  \_\/_/.sh
#

function set_proxy() {
	git config --global http.proxy {{ http_proxy_protocol}}://{{ http_proxy_username}}:{{ http_proxy_password }}@{{ http_proxy_hostname }}:{{ http_proxy_port }}
	export http_proxy={{ http_proxy_protocol}}://{{ http_proxy_username}}:{{ http_proxy_password }}@{{ http_proxy_hostname }}:{{ http_proxy_port }}
	export https_proxy={{ https_proxy_protocol}}://{{ https_proxy_username}}:{{ https_proxy_password }}@{{ https_proxy_hostname }}:{{ https_proxy_port }}
	export no_proxy={{ no_proxy }}
}

function unset_proxy() {
	git config --global --unset-all http.proxy
	unset http_proxy
	unset https_proxy
	unset no_proxy
}

# Set automatically.
set_proxy
